openapi: 3.2.0
info:
  title: Blockstream Esplora HTTP Addresses Mempool API
  version: '1.0'
  description: Esplora is Blockstream's open-source Bitcoin block explorer and its HTTP REST API. It provides read access to blocks, transactions, addresses, the mempool, fee estimates, and (on Liquid/Elements networks) issued assets. The API is public and requires no authentication. The same API backs blockstream.info and its testnet, signet, and Liquid networks. Amounts are in satoshis; hashes and txids are hex-encoded.
  x-generated: '2026-07-18'
  x-method: generated
  x-source: https://github.com/Blockstream/esplora/blob/master/API.md
  contact:
    name: Blockstream Esplora
    url: https://github.com/Blockstream/esplora
  license:
    name: MIT
    url: https://github.com/Blockstream/esplora/blob/master/LICENSE
servers:
- url: https://blockstream.info/api
  description: Bitcoin mainnet
- url: https://blockstream.info/testnet/api
  description: Bitcoin testnet
- url: https://blockstream.info/signet/api
  description: Bitcoin signet
- url: https://blockstream.info/liquid/api
  description: Liquid mainnet
- url: https://blockstream.info/liquidtestnet/api
  description: Liquid testnet
tags:
- name: Mempool
paths:
  /mempool:
    get:
      operationId: getMempool
      summary: Get mempool statistics and fee histogram
      tags:
      - Mempool
      responses:
        '200':
          description: Mempool statistics object
  /mempool/txids:
    get:
      operationId: getMempoolTxids
      summary: Get all transaction IDs in the mempool
      tags:
      - Mempool
      responses:
        '200':
          description: Array of txids
  /mempool/recent:
    get:
      operationId: getMempoolRecent
      summary: Get the 10 most recent mempool transactions
      tags:
      - Mempool
      responses:
        '200':
          description: Array of recent mempool transaction summaries
