openapi: 3.2.0
info:
  title: Blockstream Esplora HTTP Addresses API
  version: '1.0'
  description: Esplora is Blockstream's open-source Bitcoin block explorer and its HTTP REST API. It provides read access to blocks, transactions, addresses, the mempool, fee estimates, and (on Liquid/Elements networks) issued assets. The API is public and requires no authentication. The same API backs blockstream.info and its testnet, signet, and Liquid networks. Amounts are in satoshis; hashes and txids are hex-encoded.
  x-generated: '2026-07-18'
  x-method: generated
  x-source: https://github.com/Blockstream/esplora/blob/master/API.md
  contact:
    name: Blockstream Esplora
    url: https://github.com/Blockstream/esplora
  license:
    name: MIT
    url: https://github.com/Blockstream/esplora/blob/master/LICENSE
servers:
- url: https://blockstream.info/api
  description: Bitcoin mainnet
- url: https://blockstream.info/testnet/api
  description: Bitcoin testnet
- url: https://blockstream.info/signet/api
  description: Bitcoin signet
- url: https://blockstream.info/liquid/api
  description: Liquid mainnet
- url: https://blockstream.info/liquidtestnet/api
  description: Liquid testnet
tags:
- name: Addresses
paths:
  /address/{address}:
    get:
      operationId: getAddress
      summary: Get address information
      tags:
      - Addresses
      parameters:
      - name: address
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Address object with chain and mempool stats
  /scripthash/{hash}:
    get:
      operationId: getScripthash
      summary: Get scripthash information
      tags:
      - Addresses
      parameters:
      - name: hash
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Scripthash object with chain and mempool stats
  /address/{address}/txs:
    get:
      operationId: getAddressTransactions
      summary: Get address transaction history
      tags:
      - Addresses
      parameters:
      - name: address
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Array of transaction objects
  /scripthash/{hash}/txs:
    get:
      operationId: getScripthashTransactions
      summary: Get scripthash transaction history
      tags:
      - Addresses
      parameters:
      - name: hash
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Array of transaction objects
  /address/{address}/txs/chain/{last_seen_txid}:
    get:
      operationId: getAddressTransactionsChain
      summary: Paginate confirmed address transactions
      description: Returns confirmed transactions, 25 per page. Provide the last_seen_txid of the previous page to fetch the next page (cursor pagination).
      tags:
      - Addresses
      parameters:
      - name: address
        in: path
        required: true
        schema:
          type: string
      - name: last_seen_txid
        in: path
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Array of up to 25 confirmed transaction objects
  /scripthash/{hash}/txs/chain/{last_seen_txid}:
    get:
      operationId: getScripthashTransactionsChain
      summary: Paginate confirmed scripthash transactions
      tags:
      - Addresses
      parameters:
      - name: hash
        in: path
        required: true
        schema:
          type: string
      - name: last_seen_txid
        in: path
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Array of up to 25 confirmed transaction objects
  /address/{address}/txs/mempool:
    get:
      operationId: getAddressMempoolTransactions
      summary: Get unconfirmed address transactions
      tags:
      - Addresses
      parameters:
      - name: address
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Array of unconfirmed transaction objects
  /scripthash/{hash}/txs/mempool:
    get:
      operationId: getScripthashMempoolTransactions
      summary: Get unconfirmed scripthash transactions
      tags:
      - Addresses
      parameters:
      - name: hash
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Array of unconfirmed transaction objects
  /address/{address}/utxo:
    get:
      operationId: getAddressUtxo
      summary: List unspent outputs for an address
      tags:
      - Addresses
      parameters:
      - name: address
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Array of UTXO objects
  /scripthash/{hash}/utxo:
    get:
      operationId: getScripthashUtxo
      summary: List unspent outputs for a scripthash
      tags:
      - Addresses
      parameters:
      - name: hash
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Array of UTXO objects
  /address-prefix/{prefix}:
    get:
      operationId: searchAddressPrefix
      summary: Search addresses by prefix
      tags:
      - Addresses
      parameters:
      - name: prefix
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Array of matching addresses
