openapi: 3.1.0
info:
  title: Blockstream Esplora HTTP Addresses Blocks API
  version: '1.0'
  description: Esplora is Blockstream's open-source Bitcoin block explorer and its HTTP REST API. It provides read access to blocks, transactions, addresses, the mempool, fee estimates, and (on Liquid/Elements networks) issued assets. The API is public and requires no authentication. The same API backs blockstream.info and its testnet, signet, and Liquid networks. Amounts are in satoshis; hashes and txids are hex-encoded.
  x-generated: '2026-07-18'
  x-method: generated
  x-source: https://github.com/Blockstream/esplora/blob/master/API.md
  contact:
    name: Blockstream Esplora
    url: https://github.com/Blockstream/esplora
  license:
    name: MIT
    url: https://github.com/Blockstream/esplora/blob/master/LICENSE
servers:
- url: https://blockstream.info/api
  description: Bitcoin mainnet
- url: https://blockstream.info/testnet/api
  description: Bitcoin testnet
- url: https://blockstream.info/signet/api
  description: Bitcoin signet
- url: https://blockstream.info/liquid/api
  description: Liquid mainnet
- url: https://blockstream.info/liquidtestnet/api
  description: Liquid testnet
tags:
- name: Blocks
paths:
  /block/{hash}:
    get:
      operationId: getBlock
      summary: Get block information
      tags:
      - Blocks
      parameters:
      - name: hash
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Block object
        '404':
          description: Block not found
  /block/{hash}/header:
    get:
      operationId: getBlockHeader
      summary: Get hex-encoded block header
      tags:
      - Blocks
      parameters:
      - name: hash
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Hex-encoded block header
  /block/{hash}/status:
    get:
      operationId: getBlockStatus
      summary: Get block confirmation status
      tags:
      - Blocks
      parameters:
      - name: hash
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Block status object
  /block/{hash}/txs/{start_index}:
    get:
      operationId: getBlockTransactions
      summary: List transactions in a block
      description: Returns up to 25 transactions starting at start_index.
      tags:
      - Blocks
      parameters:
      - name: hash
        in: path
        required: true
        schema:
          type: string
      - name: start_index
        in: path
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Array of up to 25 transaction objects
  /block/{hash}/txids:
    get:
      operationId: getBlockTxids
      summary: Get all transaction IDs in a block
      tags:
      - Blocks
      parameters:
      - name: hash
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Array of txids
  /block/{hash}/txid/{index}:
    get:
      operationId: getBlockTxidAtIndex
      summary: Get transaction ID at a specific index in a block
      tags:
      - Blocks
      parameters:
      - name: hash
        in: path
        required: true
        schema:
          type: string
      - name: index
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: A single txid
  /block/{hash}/raw:
    get:
      operationId: getBlockRaw
      summary: Get block in raw binary format
      tags:
      - Blocks
      parameters:
      - name: hash
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Binary block data
  /block-height/{height}:
    get:
      operationId: getBlockHashAtHeight
      summary: Get block hash at a height
      tags:
      - Blocks
      parameters:
      - name: height
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Block hash
  /blocks/{start_height}:
    get:
      operationId: getBlocks
      summary: Get the 10 newest blocks
      description: Returns the 10 newest blocks, or the 10 blocks preceding start_height.
      tags:
      - Blocks
      parameters:
      - name: start_height
        in: path
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Array of up to 10 block objects
  /blocks/tip/height:
    get:
      operationId: getBlocksTipHeight
      summary: Get current chain tip height
      tags:
      - Blocks
      responses:
        '200':
          description: The tip height as an integer
  /blocks/tip/hash:
    get:
      operationId: getBlocksTipHash
      summary: Get current chain tip hash
      tags:
      - Blocks
      responses:
        '200':
          description: The tip block hash
